<ion-header>
    <ion-toolbar>
        <ion-title>Import</ion-title>
        <ion-buttons (click)="add()" slot="end">
            <ion-button>Add</ion-button>
        </ion-buttons>
        <ion-buttons (click)="close()" slot="end">
            <ion-button>Close</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <ion-item>
        <ion-textarea (keydown)="keyDownFunction($event)" [(ngModel)]="text" auto-grow="true"></ion-textarea>
    </ion-item>
</ion-content>
