<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <form (ngSubmit)="login()" [formGroup]="data">
            <ion-title>Login</ion-title>
            <ion-row>
                <ion-col>
                    <ion-icon class="profile-icon" icon="person-circle"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label>Email:</ion-label>
                <ion-input (keyup.enter)="pass.setFocus()" autofocus="true" formControlName="email" placeholder="Email"
                           type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password:</ion-label>
                <ion-input #pass (keyup.enter)="login()" autofocus="true"
                           formControlName="password" placeholder="Password" type="password"></ion-input>
            </ion-item>
            <ion-button expand="full" type="submit">Login</ion-button>
        </form>
    </div>
</ion-content>
