<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <form [formGroup]="data" (ngSubmit)="login()">
            <ion-title>Login</ion-title>
            <ion-row>
                <ion-col>
                    <ion-icon class="profile-icon" icon="person-circle"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label>Email:</ion-label>
                <ion-input type="email" placeholder="Email" autofocus="true" formControlName="email" (keyup.enter)="pass.setFocus()"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password:</ion-label>
                <ion-input type="password" placeholder="Password" autofocus="true"
                           formControlName="password" (keyup.enter)="login()" #pass></ion-input>
            </ion-item>
            <ion-button type="submit" expand="full">Login</ion-button>
        </form>
    </div>
</ion-content>
