<ion-header>
    <ion-toolbar>
        <ion-title>Learning {{starred ? "starred" : ""}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="status">
        <div *ngSwitchCase="0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                Question: {{getQuestion()}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer: </ion-label>
                            <ion-input placeholder="Your Text" [(ngModel)]="answerText"></ion-input>
                            <ion-button expand="full" (click)="checkAnswer()">Check</ion-button>
                            <ion-button expand="full" color="danger" (click)="skip()">Skip</ion-button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="1">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label color="success">
                                Correct Answer:
                            </ion-label>
                            <ion-label color="danger">
                                Your Answer: {{answerText}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer: </ion-label>
                            <ion-input placeholder="Your Text"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="2">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="ion-text-center">
                            <ion-label>Final</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
<!--                        {collection.map((item: any, index: number) => {-->
<!--                        return (-->
<!--                        <IonItem key={index}>-->
<!--                            <IonLabel color={item.correct ? "success" : item.skip ? "warning" : "danger"}>-->
<!--                            {item.first} - {item.second}-->
<!--                            </IonLabel>-->
<!--                        </IonItem>-->
<!--                    );-->
<!--                            })}-->
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button expand="full" fill="clear" [routerLink]="'/set/' + id" routerDirection="root">Back to Set Page</ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button expand="full" fill="clear" [routerLink]="'/learning/' + id + '/' + starred"  routerDirection="root" (click)="again()">Again</ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
