<ion-header>
    <ion-toolbar>
        <ion-title>Learning {{starred ? "starred" : ""}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="status">
        <div *ngSwitchCase="0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                Question: {{getQuestion()}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer:</ion-label>
                            <ion-input [(ngModel)]="answerText" placeholder="Your Text" (keyup.enter)="checkAnswer()" #answer></ion-input>
                            <ion-button (click)="checkAnswer()" expand="full">Check</ion-button>
                            <ion-button (click)="skip()" color="danger" expand="full">Skip</ion-button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="1">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                Question: {{getQuestion()}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label color="success">
                                Correct Answer: {{getAnswer()}}
                            </ion-label>
                            <ion-label color="danger">
                                Your Answer: {{answerText}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer:</ion-label>
                            <ion-input [(ngModel)]="correctionText" placeholder="Your Text" (keyup)="enterAnswer()" #correction></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="2">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="ion-text-center">
                            <ion-label>Final</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <!--                        <IonItem key={index}>-->
                        <!--                            <IonLabel color={item.correct ? "success" : item.skip ? "warning" : "danger"}>-->
                        <!--                            {item.first} - {item.second}-->
                        <!--                            </IonLabel>-->
                        <!--                        </IonItem>-->
                        <ion-item *ngFor="let p of data; let i = index">
                            <ion-label>
                                {{p.first}} - {{p.second}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button [routerLink]="'/set/' + id" expand="full" fill="clear" routerDirection="root">Back
                            to Set Page
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="again()" [routerLink]="'/learning/' + id + '/' + starred" expand="full"
                                    fill="clear" routerDirection="root">Again
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
