<ion-header>
    <ion-toolbar>
        <ion-title>Learning {{starred ? "Starred" : ""}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item class="ion-text-center" lines="none">
                    <ion-label>
                        {{this.index}} / {{this.data?.length}}
                    </ion-label>
                </ion-item>
                <ion-item>
                    <ion-progress-bar [value]="this.correctCount / this.data?.length" class="bar"
                                      color="success"></ion-progress-bar>
                    <ion-progress-bar [value]="(this.index - this.correctCount) / this.data?.length" class="bar"
                                      color="danger"></ion-progress-bar>
                    <ion-progress-bar [value]="this.index / this.data?.length" class="bar"> color="primary"
                    </ion-progress-bar>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div [ngSwitch]="status">
        <div *ngSwitchCase="0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                Question: {{getQuestion()}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer:</ion-label>
                            <ion-input #answer (keyup.enter)="checkAnswer()" [(ngModel)]="answerText"
                                       placeholder="Your Text"></ion-input>
                            <ion-button (click)="checkAnswer()" expand="full">Check</ion-button>
                            <ion-button (click)="skip()" color="danger" expand="full">Skip</ion-button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="1">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>
                                Question: {{getQuestion()}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label color="success">
                                Correct Answer: {{getAnswer()}}
                            </ion-label>
                            <ion-label color="danger">
                                Your Answer: {{answerText}}
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item>
                            <ion-label>Answer:</ion-label>
                            <ion-input #correction (keyup)="enterAnswer()" [(ngModel)]="correctionText"
                                       placeholder="Your Text"></ion-input>


                            <ion-button (click)="changeWrong()" color="warning" expand="full">I was right!</ion-button>
                        </ion-item>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div *ngSwitchCase="2">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-item class="ion-text-center">
                            <ion-label>Final</ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-item *ngFor="let p of data; let i = index">
                            <ion-label [color]="p.correct ? 'success' : p.wrong ? 'danger' : p.changed ? 'warning' : 'dark'"
                                        class="ion-text-center">
<!--                                {{p.first}} - {{p.second}}-->
                                <ion-row>
                                    <ion-col>
                                        {{p.first}}
                                    </ion-col>
                                    <ion-col>
                                        -
                                    </ion-col>
                                    <ion-col>
                                        {{p.second}}
                                    </ion-col>
                                    <ion-col>
                                        <ion-col class="ion-no-padding" sizeMd="2" sizeXl="2" sizeXs="4">
                                            <ion-button (click)="setStar(p._id)"
                                                        [color]="getStar(p._id) ? 'warning' : 'medium'"
                                                        expand="block"
                                                        fill="clear">
                                                <ion-icon ios="star-outline" md="star-sharp"
                                                          slot="icon-only"></ion-icon>
                                            </ion-button>
                                        </ion-col>
                                    </ion-col>
                                </ion-row>
                            </ion-label>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button [routerLink]="'/set/' + id" expand="full" fill="clear" routerDirection="root">
                            Back to Set Page
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="again()" [routerLink]="'/learning/' + id + '/false'" expand="full"
                                    fill="clear" routerDirection="root">
                            Again with all
                        </ion-button>
                    </ion-col>
                    <ion-col>
                        <ion-button (click)="again()" [routerLink]="'/learning/' + id + '/true'" expand="full"
                                    fill="clear" routerDirection="root">
                            Again with
                            <ion-icon ios="star-outline" md="star-sharp" slot="end"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>
