<ion-app>
    <ion-split-pane contentId="main-content">
        <ion-menu contentId="main-content" type="overlay">
            <ion-content>
                <ion-list id="main-list">
                    <ion-list-header>Learnify</ion-list-header>
                    <ion-note>A nice Learning App</ion-note>

                    <ion-menu-toggle auto-hide="false" *ngFor="let p of mainPages; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                  routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>

                <ion-list id="user-list" *ngIf="isLoggedIn()">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of userPages; let i = index">
                        <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                  routerLinkActive="selected">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>


                <ion-list id="account-list">
                    <div *ngIf="isLoggedIn(); then loggedin else loggedout"></div>

                    <ng-template #loggedout>
                        <ion-menu-toggle auto-hide="false" *ngFor="let p of accountPages; let i = index">
                            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false"
                                      routerLinkActive="selected">
                                <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                                <ion-label>{{ p.title }}</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ng-template>

                    <ng-template #loggedin>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item routerDirection="root" routerLink="/home" lines="none" detail="false"
                                      (click)="logout()">
                                <ion-icon slot="start" [ios]="'log-out-outline'" [md]="'log-out-sharp'"></ion-icon>
                                <ion-label>Logout</ion-label>
                            </ion-item>
                        </ion-menu-toggle>
                    </ng-template>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
