<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sets</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            <h3>Your Sets:</h3>
                        </ion-card-title>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>

        <div *ngIf="Sets.length > 0; then set else noset"></div>

        <ng-template #set>
            <ion-row>
                <ion-col>
                    <ion-card *ngFor="let p of Sets; let i = index">
                        <ion-card-header>
                            <ion-grid>
                                <ion-row class="ion-align-items-center">
                                    <ion-col size-md="3" size-sm="12" size-xs="12" class="ion-text-wrap">
                                        <ion-button [routerLink]="'/set/' + p._id" expand="block" fill="clear" class="ion-text-wrap">
                                            <ion-card-title>
                                                {{p.name}}
                                            </ion-card-title>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col class="ion-text-center" size-md="3" size-sm="4" size-xs="4">
                                        <ion-card-subtitle>
                                            {{p.length}} Cards
                                        </ion-card-subtitle>
                                    </ion-col>
                                    <ion-col size-md="3" size-sm="4" size-xs="4">
                                        <ion-button (click)="deleteSet(p._id)" color="danger" expand="block"
                                                    fill="clear">
                                            <ion-icon ios="close-outline" md="close-sharp" slot="icon-only"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                    <ion-col size-md="3" size-sm="4" size-xs="4">
                                        <ion-button (click)="renameSet(p._id)" expand="block"
                                                    fill="clear">
                                            <ion-icon ios="pencil-outline" md="pencil-sharp" slot="icon-only"></ion-icon>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-header>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ng-template>

        <ng-template #noset>
            <ion-row class="ion-justify-content-center">
                <ion-label>
                    No sets found
                </ion-label>
            </ion-row>
        </ng-template>

        <ion-row class="ion-justify-content-center">
            <ion-col>
                <ion-button (click)="newSet()" expand="block" fill="clear">
                    <ion-icon ios="add-outline" md="add-sharp" slot="icon-only"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
