<ion-header>
    <ion-toolbar>
        <ion-title>Home</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-card-header>
                        <ion-card-title>
                            Welcome to the Learnify!
                        </ion-card-title>
                        <ion-card-subtitle>
                            This is a learning app for everyone!
                        </ion-card-subtitle>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-item>
                            <ion-card-title>
                                What is Learnify?
                            </ion-card-title>
                        </ion-item>
                        <ion-item>
                            <ion-card-subtitle>
                                Learnify is a learning app for everyone. You can create your own sets and learn from
                                other people's sets.
                            </ion-card-subtitle>
                        </ion-item>
                        <ion-item>
                            <ion-card-title>
                                How to use Learnify?
                            </ion-card-title>
                        </ion-item>
                        <ion-item>
                            <ion-card-subtitle>
                                You can create your own sets and learn from other people's sets.
                            </ion-card-subtitle>
                        </ion-item>
                        <ion-item>
                            <ion-card-title>
                                How to support Learnify?
                            </ion-card-title>
                        </ion-item>
                        <ion-item>
                            <ion-card-subtitle>
                                You can support Learnify by a little sponsorship on <a target="_blank"
                                                                                       href="https://patreon.com/LDprg"
                                                                                       rel="noopener noreferrer">Patreon</a>.
                            </ion-card-subtitle>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
