<ion-header>
    <ion-toolbar>
        <ion-title>Register</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <form (ngSubmit)="register()" [formGroup]="data">
            <ion-title>Register</ion-title>
            <ion-row>
                <ion-col>
                    <ion-icon class="profile-icon" icon="person-circle"></ion-icon>
                </ion-col>
            </ion-row>
            <ion-item>
                <ion-label>Email:</ion-label>
                <ion-input autofocus="true" formControlName="email" placeholder="Email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Username:</ion-label>
                <ion-input autofocus="true" formControlName="username" placeholder="Username" type="text"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Password:</ion-label>
                <ion-input autofocus="true" formControlName="password" placeholder="Password"
                           type="password"></ion-input>
            </ion-item>
            <ion-button expand="Register" type="submit">Login</ion-button>
        </form>
    </div>
</ion-content>
